.carList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 56px;
  margin-left: 120px;
  margin-right: 120px;
}

.noCars {
  text-align: center;
  color: #666;
  padding: 20px;
}
