.carList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 56px;
  /* max-width: calc(100% - 240px); Зменшуємо ширину на два відступи по 120px */
  margin-left: 120px; /* Відступ 120px з лівого боку */
  margin-right: 120px; /* Відступ 120px з правого боку */
}

.noCars {
  text-align: center;
  color: #666;
  padding: 20px;
}
