.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 120px;
  padding-right: 120px;
  height: 68px;
  background-color: #f2f4f7;
  text-align: center;
}
.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  color: #101828;
}

.navLink {
  text-decoration: none;
  color: #101828;
  transition: color 0.3s ease;
  padding-right: 32px;
}
.navLink1 {
  text-decoration: none;
  color: #101828;
  transition: color 0.3s ease;
}
.navLink:hover .navLink1:hover {
  color: #0b44cd;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0b44cd;
}
