.carCard {
  border-radius: 10px;
  overflow: hidden;
  width: 276px;
  position: relative;
  text-align: left;
}

.carCard img {
  width: 275px;
  height: 268px;
  border-radius: 14px 14px 0 0;
  object-fit: cover;
}

.favoriteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 1;
}

.icon {
  width: 16px;
  height: 15px;
  cursor: pointer;
  color: #ccc;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.carTitle {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  text-align: left;
  margin: 0;
}

.brand {
  color: #101828;
}

.model {
  color: #3470ff;
}

.year {
  color: #101828;
}

.location {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  color: #666;
  margin: 0 0 5px 10px;
  text-align: left;
}

.details {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  color: #666;
  margin: 0 0 5px 10px;
  text-align: left;
}

.type {
  display: inline;
}

.mileage {
  display: inline;
  color: #8d929a;
}

.price {
  font-weight: bold;
  color: #28a745;
  margin: 0 10px 0 0;
  text-align: right;
}

.readMoreButton {
  display: block;
  width: 276px;
  height: 44px;
  padding: 12px 99px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  margin-top: 28px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.readMoreButton:hover {
  background-color: #0b44cd;
  color: white;
}
