.carCard {
  border-radius: 10px;
  overflow: hidden;
  width: 276px;
  position: relative;
}

.carCard img {
  width: 275px;
  height: 268px;
  border-radius: 14px 14px 0 0;
  object-fit: cover;
}

.favoriteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 1;
}

.icon {
  width: 16px;
  height: 15px;
  cursor: pointer;
  color: #ccc; /* Сірий колір для неактивного серця */
}

.icon.active {
  color: #ff0000; /* Червоний колір для активного серця */
}

.headerContainer {
  display: flex;
  justify-content: space-between; /* Вирівнювання заголовка і ціни */
  align-items: center;
  padding-bottom: 8px;
}

.carTitle {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  text-align: left;
  margin: 0; /* Вилучено margin, оскільки він у .headerContainer */
}

.brand {
  color: #101828; /* Чорний для бренду */
}

.model {
  color: #3470ff; /* Синій лише для моделі */
}

.year {
  color: #101828; /* Чорний для року */
}

.location {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  color: #666; /* Сірий колір для локації */
  margin: 0 0 5px 10px;
  text-align: left;
}

.details {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  color: #666; /* Сірий колір для типу і пробігу */
  margin: 0 0 5px 10px;
  text-align: left;
}

.type {
  display: inline;
}

.mileage {
  display: inline;
  color: #8d929a;
}

.price {
  font-weight: bold;
  color: #28a745; /* Зелений колір для ціни */
  margin: 0 10px 0 0; /* Відступ праворуч */
  text-align: right;
}

.readMoreButton {
  display: block;
  width: 276px;
  height: 44px;
  padding: 12px 99px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  margin-top: 28px;
}

.readMoreButton:hover {
  background-color: #0056b3;
}
